/* Kylarzio */
@font-face {
  font-family: 'Kylarzio';
  src: url('/fonts/Kylarzio.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* AGaramondPro */
@font-face {
  font-family: 'AGaramondPro';
  src: url('/assets/font/AGaramondPro/AGaramondPro-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('/assets/font/AGaramondPro/AGaramondPro-Italic.woff2') format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('/assets/font/AGaramondPro/AGaramondPro-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('/assets/font/AGaramondPro/AGaramondPro-BoldItalic.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
}