.header {
  display: block;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  @include breakpoint('mini'){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }
  @include breakpoint('small') {
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  a.header-logo {
    font-family: var(--font-family-logo);
    font-size: 55px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
  }
}

.menu-main {
  @include breakpoint('small') {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      margin-right: 10px;
      > a {
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          display: inline-block;
          font-weight: bold;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}